<div class="index-introduce">
	<h1 id="index-head" >Cover your page.</h1>
	<pre id="index-introduce"  >Cover is a one-page template for building simple and beautiful home
	pages. Download, edit the text, and add your own fullscreen
	background photo to make it your own. </pre>

	<a href="" class="index-btn ">Learn more</a>
</div>
